*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Roboto", sans-serif;
	line-height: 1.4;
}

h1,
h2,
h3,
h4 {
	font-family: "Ubuntu", sans-serif;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	object-fit: cover;
}

input,
button,
textarea,
select {
	font-family: inherit;
}

button {
	border: none;
	cursor: pointer;
}

ul {
	list-style-type: none;
}

.container {
	max-width: 95%;
	margin: 0 auto;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1200px;
	}
}
